<!-- test app pipeline -->
<!DOCTYPE html>
<html>
<head>
    <title>Driftwood Café ☕</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>🌊 Driftwood Café</h1>
        <p class="subtitle">Crafting calm. Brewing focus.</p>

        <div class="stats">
            <p id="taskStats">0 Tasks</p>
            <div class="progress-container">
                <div id="progressBar" class="progress-bar"></div>
            </div>
        </div>

        <ul id="taskList"></ul>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
